name: Build and Test with Maven

on:
  push:
    branches:
      - feature-ms-davidsilva-cicd

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '11'

    - name: Build with Maven
      run: mvn clean install

    - name: Run unit tests
      run: mvn test

    - name: Generate code coverage report
      run: mvn cobertura:cobertura

    - name: Upload code coverage results
      uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: target/site/cobertura
